* {
    -dark-black: #000000;
    -black: #1c1c1e;
    -white: #fefefe;
    -white-op1: rgba(254, 254, 254, 0.1);
    -white-op2: rgba(254, 254, 254, 0.2);
    -grey: #c3c3c5;
    -dark-grey: #8c8c8e;
    -light-grey: #dddddf;
    -gradient: linear-gradient(to bottom left, #845EC2, #00C9A7);

    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.button,
.toggle-button {
    -fx-background-color: -light-grey;
    -fx-text-fill: -black;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.ctrl-button {
    -fx-background-color: -grey;
}

.button:hover,
.button:focus,
.toggle-button:hover,
.toggle-button:focus {
    -fx-background-color: -black;
    -fx-text-fill: -white;
}

.track-label {
    -fx-background-color: -light-grey;
    -fx-background-radius: 5;
}

.tab-pane {
    -fx-background-color: -white;
}

.list-view {
    -fx-background-color: -gradient;
}

.label {
    -fx-text-fill: -dark-black;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: -gradient;
}

.tab {
    -fx-font-size: 14;
    -fx-background-color: -light-grey;
}

.tab:selected,
.tab:hover {
    -fx-background-color: -white;
}

.choice-box {
    -fx-background-color: -light-grey;
    -fx-cursor: hand;
    -fx-mark-color: -black;
    -fx-background-radius: 5;
}

.choice-box:hover,
.choice-box:focus {
    -fx-background-color: -black;
    -fx-mark-color: -white;
}

.choice-box:focus .label,
.choice-box:hover .label {
    -fx-text-fill: -white;
}

.choice-box .context-menu {
    -fx-background-color: -black;
}

.choice-box .menu-item:focused {
    -fx-background-color: -grey;
}

.choice-box .menu-item .label {
    -fx-text-fill: -light-grey;
}

.choice-box .menu-item:focused .label {
    -fx-text-fill: -dark-black;
}

.menu-pane {
    -fx-background-color: -gradient;
}

.slider .track {
    -fx-background-radius: 0;
    -fx-background-color: -light-grey;
}

.slider .thumb {
    -fx-pref-height: 12;
    -fx-pref-width: 12;
    -fx-background-color: -dark-grey;
    -fx-background-radius: 5;
}

.list-cell:odd {
    -fx-background-color: transparent;
}

.list-cell:even {
    -fx-background-color: -white-op1;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: -white;
}

.list-cell:filled:hover {
    -fx-background-color: -white-op2;
}