* {
    -black: black;
    -white: white;
}

.piano-key {
    -fx-background-color: -black;
    -fx-background-radius: 0 0 10 10;
}   

.button {
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 5;
}

.choice-box {
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 5;
}

.track-label {
    -fx-background-color: #EAEAEA;
    -fx-border-color: #B9B9B9;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}